.nav-bg{
    background-color: #fff;
    margin-bottom: 30px;
}
.nav-brand{
    font-size: 35px;
    text-decoration: none;
}
.menu-item{
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: 500;
    color: #222222;
}
.nav-brand:hover, .menu-item:hover{
    color: #37BC9B;
}
.menu-btn{
    text-decoration: none;
    margin-right: 20px;
}
.profile{
    margin-left: 0px;
}
.profile img{
    height:45px;
    width:45px;
    border-radius:50%;
}
.navbar-light .navbar-toggler {
    color: #5EF1E8 !important;
}
.navbar-toggler-icon {
    background-image: url("./kisspng-vector-graphics-button-royalty-free-illustration-c-5c526a415cc2c3.49229711154890502538\ \(1\).png") !important;
 }